<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
		.gnl {background-color:#00ffff;}
        .txtal {text-align:center;}
    </style>
</head>
<body class="gnl">
<form class="txtal" name="all_video" action="/delete_video" method="post">
    {% for video in videolist %}
        <input type="checkbox" name="delete_list" value="{{video.part_id}}"><a href="{{video.url}}">{{video.name}}</a>
        <br>
    {% endfor %}
    <br>
    <button class="txtal" type="submit">确定删除</button>
</form>
<form class="txtal" action="/" method="get">
    <button type="submit" >返回主页</button>
</form>
</body>
</html>