<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传视频</title>
    <style>
		.gnl {background-color:#00ffff;}
        .txtal {text-align:left;}
    </style>
</head>
<body class="gnl">
<form class="txtal" id="form_upload" enctype="multipart/form-data" action="/video_upload" method="post">
    {% csrf_token %}
    视频名称：<input type="text" name="video_name">
    <input hidden type="text" id="input_count" name="count" value="1">
	<br>
    <p>Part:1</p>
    名称：<input type="text" name="part_name1">
	<br>
    选择视频<input type="file" name="video1">
	<br>
</form>
<div class="txtal">
    <button onclick="Add_part()">添加新part</button>
    <button onclick="Submit_form()">上传</button>
</div>
<form class="txtal" action="/" method="get">
    <button type="submit" >返回主页</button>
</form>
<script>
    var part_count= 1;
    function Add_part()
    {
        part_count++;
        var x = document.getElementById("input_count");
        x.setAttribute("value", part_count);
        var part_count_toString = "Part:"+ part_count.toString();
        var para = document.createElement("p");
        var node = document.createTextNode(part_count_toString);
        para.appendChild(node);
        var element = document.getElementById("form_upload");
        element.appendChild(para);
        element.appendChild(document.createTextNode("名称："));
        var newpart_name = document.createElement("input");
        newpart_name.setAttribute("type", "text");
        newpart_name.setAttribute("name", "part_name"+part_count.toString());
        element.appendChild(newpart_name);
		element.appendChild(document.createElement("br"));
        element.appendChild(document.createTextNode("选择视频"));
        var newvideo = document.createElement("input");
        newvideo.setAttribute("type", "file");
        newvideo.setAttribute("name", "video"+part_count.toString());
        element.appendChild(newvideo);
		element.appendChild(document.createElement("br"));
    }
    function Submit_form()
    {
        var formid = document.getElementById("form_upload");
        formid.submit();
    }


</script>
<p class="txtal">{{message}}</p>
</body>
</html>