<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link href="//vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/5.19/video.min.js"></script>
    <title>{{video_name}}</title>
    <style>
        .gnl {background-color:#00ffff;}
        .txtal {text-align:center;}
    </style>
</head>
<body class="gnl">
<h1>{{video_name}}：{{part_name}}</h1>
<!-- <video
    id="my-player"
    class="video-js vjs-default-skin vjs-big-play-centered"
    controls preload="auto" width="640" height="264"
    poster=none
    data-setup='{}'>
    <source src="{{video_url}}" type="video/mp4"></source>
    <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">
        supports HTML5 video
    </a>
    </p>
</video> -->
<video width="1024" height="576" controls>
	<source src="{{video_url}}" type="video/mp4"></source>
</video>
<br>
<form action="/download/" method="get">
    <input type="text" value="{{video_url}}" name="download_file" hidden>
    <button type="submit" formtarget="_blank">下载</button>
</form>
<br>
{% if adj_p.prev != '' %}
	<a href="{{adj_p.prev}}">上一集</a>
	<br>
{% endif %}
{% if adj_p.next != '' %}
	<a href="{{adj_p.next}}">下一集</a>
	<br>
{% endif %}
<br>
<br>
{% for part in part_list %}
	<a href="{{part.url}}"><img src="{{part.ss_url}}" height ="90" width="160"></img></a>
	<br>
    <a href="{{part.url}}">{{part.name}}</a>
	<br>
{% endfor %}
<form action="/" method="get">
    <button type="submit" >返回主页</button>
</form>
</body>
</html>